<h2> Create new wiki </h2>
<%= form_for [user, wiki] do |f| %>

 <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>