
<strong><%= "Created by #{wiki.user.name}" %></strong>

 
 <%= div_for wiki do |f| %>


 <div class="field">
    <%= f.title %><br />
  </div>

  <div class="field">
    <%= f.body %><br />
  </div>

  <%= button_to 'remove this git', wiki_path(wiki), method: :delete, data: { confirm: "Are you sure?"} if policy(wiki).destroy? %>

  <%= link_to 'change wiki', edit_wiki_path(wiki) if policy(wiki).update? %>

<% end %>