
<strong><%= "Created by #{wiki.user.name} and it is a #{wiki.private?} wiki" %></strong>

 
 <%= div_for wiki do |f| %>


 <div class="field">
    <%= f.title %><br />
  </div>

  <div class="field">
    <%= f.body %><br />
  </div>

  <%= link_to 'change wiki', edit_wiki_path(wiki) if policy(wiki).update? %> 
  <br>
  <br>

  <%= button_to 'remove this git', wiki_path(wiki), method: :delete, data: { confirm: "Are you sure?"} if policy(wiki).destroy? %>

  <%= link_to 'Go to my profile', wiki.user %>

  
  <% end %>