<h2> Update wiki </h2>
<%= form_for [@wiki] do |f| %>

 <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body, autofocus: true %>
  </div>

  <% if @wiki.user.admin? || @wiki.user.premium? %>
  <div class="field">
    <%= f.radio_button(:private, true) %>
    <%= f.label(:private, "Mark as private wiki") %>
  </div>

  <div class="field">
    <%= f.radio_button(:private, false) %>
    <%= f.label(:public, "Mark as public wiki") %>
  </div>

  <% end %>

  <div class="actions">
    <%= f.submit "Update wiki!" %>
  </div>
<% end %>